html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

html,
body {
    // height: 100%;
    position: relative;
    overflow-x: hidden;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

a{
    display: inline-block;
    text-decoration: none;
}

ul,
li{
    margin: 0;
    padding: 0;
    list-style: none;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 32px;
    position: relative;
}